@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 121.25rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  font-family: "Rubik";
  font-weight: 400;
  line-height: 118.75%;
  /* 38/32 */
}

.fv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fv__title {
  font-family: "Mulish";
  font-weight: 400;
  line-height: 126%;
  text-transform: uppercase;
}

.fv__title span {
  color: #FBCA0C;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 400;
}

.fv__subtitle {
  font-weight: 400;
}

.fv__text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.fv__img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.fv__box-button {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: 20px;
}

.fv__button {
  margin-left: 50%;
}

.button {
  display: inline-block;
  border: 3px solid #6087bf;
  border-radius: 60px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.button::after {
  content: "";
  width: 100px;
  height: 100%;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  background-size: contain;
}

.button:hover {
  background-color: #6087bf;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price__block-text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__block-text {
  max-width: 507px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__block-text p {
  text-decoration: underline;
  line-height: 120%;
  /* 24/20 */
}

.price__block-text p span {
  color: #6087bf;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}

.price__img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.price__button {
  margin-left: 50%;
}

.title-section {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  font-family: "Mulish";
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.statistic__item p {
  text-align: center;
  font-weight: 800;
  line-height: 135%;
  /* 27/20 */
}

.statistic__item h5 {
  text-align: center;
  font-weight: 400;
  line-height: 135%;
  /* 27/20 */
}

.marketing__subtitle {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  line-height: 134%;
}

.marketing__text {
  width: 50%;
  margin-left: 50%;
  line-height: 135%;
  /* 27/20 */
}

.marketing__box-text-title {
  text-align: center;
  line-height: 134.210526%;
  /* 51/38 */
}

.marketing__box-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.marketing__box-text-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marketing__box-text-subtitle {
  font-weight: 700;
  color: #6087bf;
  text-transform: uppercase;
  width: 50%;
  line-height: 135%;
  /* 27/20 */
}

.marketing__box-text-text {
  width: 50%;
  line-height: 135%;
}

.advantages__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #6087bf;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__block-text {
  max-width: 684px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__text {
  line-height: 135%;
}

.advantages__text span {
  font-weight: 700;
  text-transform: uppercase;
  color: #6087bf;
}

.advantages__img-holder {
  width: 370px;
  height: 430px;
}

.advantages__img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

.target__title span {
  color: #6087bf;
}

.target__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.target__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
}

.target__img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.target__text {
  text-align: center;
  line-height: 135%;
}

.target__text span {
  font-weight: 700;
  text-transform: uppercase;
  color: #6087bf;
}

.task__title span {
  color: #6087bf;
}

.task__subtitle-dwo {
  text-transform: uppercase;
  text-align: center;
  color: #6087bf;
}

.task__button {
  margin-left: 50%;
}

.questions__button {
  margin-left: 50%;
}

.questions__button::after {
  content: "";
  height: 100%;
  background-image: url("../img/ico.tg.png");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  top: 0;
  right: 40px;
  background-size: contain;
}

@media (min-width: 121.25em) {
  .header {
    padding-top: 4.125rem;
  }

  .header {
    padding-bottom: 4.125rem;
  }

  .header__container {
    margin-left: 15rem;
  }

  .header__container {
    margin-right: 15rem;
  }

  .header__container {
    font-size: 2rem;
  }

  section {
    margin-bottom: 12.5rem;
  }

  .fv__container {
    margin-left: 15rem;
  }

  .fv__container {
    margin-right: 15rem;
  }

  .fv__content {
    margin-bottom: 4.6875rem;
  }

  .fv__title {
    font-size: 3.8125rem;
  }

  .fv__title {
    margin-bottom: 6.8125rem;
  }

  .fv__title span {
    font-size: 8.125rem;
  }

  .fv__subtitle {
    font-size: 2.375rem;
  }

  .fv__subtitle {
    margin-bottom: 3.375rem;
  }

  .fv__text {
    font-size: 2.375rem;
  }

  .fv__img-holder {
    width: 36.5rem;
  }

  .button {
    font-size: 1.25rem;
  }

  .button {
    padding-top: 1.75rem;
  }

  .button {
    padding-bottom: 1.75rem;
  }

  .button {
    padding-left: 2.1875rem;
  }

  .button {
    padding-right: 6.8125rem;
  }

  .button::after {
    width: 6.25rem;
  }

  .price__container {
    margin-left: 15rem;
  }

  .price__container {
    margin-right: 15rem;
  }

  .price__block-text-img {
    margin-bottom: 6.25rem;
  }

  .price__block-text {
    gap: 3.125rem;
  }

  .price__block-text p {
    font-size: 1.25rem;
  }

  .price__block-text_bottom {
    margin-bottom: 6.875rem;
  }

  .price__img-holder {
    width: 20.625rem;
  }

  .price__statistic {
    margin-bottom: 5rem;
  }

  .title-section {
    font-size: 3.75rem;
  }

  .title-section {
    margin-bottom: 6.25rem;
  }

  .statistic {
    margin-left: -4rem;
  }

  .statistic {
    margin-right: -4rem;
  }

  .statistic__item {
    padding-left: 4rem;
  }

  .statistic__item {
    padding-right: 4rem;
  }

  .statistic__item p {
    font-size: 1.25rem;
  }

  .statistic__item h5 {
    font-size: 1.25rem;
  }

  .marketing__container {
    margin-left: 15rem;
  }

  .marketing__container {
    margin-right: 15rem;
  }

  .marketing__subtitle {
    font-size: 2.375rem;
  }

  .marketing__subtitle {
    margin-bottom: 5rem;
  }

  .marketing__text {
    font-size: 1.25rem;
  }

  .marketing__text {
    margin-bottom: 6.25rem;
  }

  .marketing__box-text-title {
    font-size: 2.375rem;
  }

  .marketing__box-text-title {
    margin-bottom: 5rem;
  }

  .marketing__box-text-content {
    gap: 3.125rem;
  }

  .marketing__box-text-subtitle {
    font-size: 1.25rem;
  }

  .marketing__box-text-text {
    font-size: 1.25rem;
  }

  .advantages__container {
    margin-left: 15rem;
  }

  .advantages__container {
    margin-right: 15rem;
  }

  .advantages__subtitle {
    font-size: 2.375rem;
  }

  .advantages__block-text {
    margin-top: 5rem;
  }

  .advantages__block-text {
    gap: 3.125rem;
  }

  .advantages__text {
    font-size: 1.25rem;
  }

  .target__container {
    margin-left: 15rem;
  }

  .target__container {
    margin-right: 15rem;
  }

  .target__img-holder {
    min-width: 6.25rem;
  }

  .target__text {
    font-size: 1.25rem;
  }

  .task__container {
    margin-left: 15rem;
  }

  .task__container {
    margin-right: 15rem;
  }

  .task__subtitle {
    font-size: 2.375rem;
  }

  .task__subtitle {
    margin-bottom: 5rem;
  }

  .task__text {
    font-size: 1.25rem;
  }

  .task__text:not(last-child) {
    margin-bottom: 3.125rem;
  }

  .task__subtitle-dwo {
    font-size: 2.375rem;
  }

  .task__subtitle-dwo {
    margin-bottom: 6.875rem;
  }

  .questions__container {
    margin-left: 15rem;
  }

  .questions__container {
    margin-right: 15rem;
  }

  .questions__text {
    font-size: 2.375rem;
  }

  .questions__text {
    margin-bottom: 6.25rem;
  }

  .questions__button {
    padding-right: 9.0625rem;
  }

  .questions__button::after {
    width: 3.75rem;
  }

  .questions__box-button {
    margin-bottom: 9.875rem;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 1.5rem;
  }

  .header {
    padding-bottom: 1.5rem;
  }

  .header__container {
    margin-left: 0.0000000625rem;
  }

  .header__container {
    margin-right: 0.0000000625rem;
  }

  .header__container {
    font-size: 0.625rem;
  }

  section {
    margin-bottom: 5.625rem;
  }

  .fv__container {
    margin-left: 0.0000000625rem;
  }

  .fv__container {
    margin-right: 0.0000000625rem;
  }

  .fv__content {
    margin-bottom: 0.0000000625rem;
  }

  .fv__title {
    font-size: 1.75rem;
  }

  .fv__title {
    margin-bottom: 0.0000000625rem;
  }

  .fv__title span {
    font-size: 3.8125rem;
  }

  .fv__subtitle {
    font-size: 0.75rem;
  }

  .fv__subtitle {
    margin-bottom: 0.875rem;
  }

  .fv__text {
    font-size: 0.75rem;
  }

  .fv__img-holder {
    width: 11rem;
  }

  .button {
    font-size: 0.625rem;
  }

  .button {
    padding-top: 0.5rem;
  }

  .button {
    padding-bottom: 0.5rem;
  }

  .button {
    padding-left: 0.9375rem;
  }

  .button {
    padding-right: 2.6875rem;
  }

  .button::after {
    width: 1.125rem;
  }

  .price__container {
    margin-left: 0.0000000625rem;
  }

  .price__container {
    margin-right: 0.0000000625rem;
  }

  .price__block-text-img {
    margin-bottom: 4.375rem;
  }

  .price__block-text {
    gap: 2.5rem;
  }

  .price__block-text p {
    font-size: 0.875rem;
  }

  .price__block-text_bottom {
    margin-bottom: 4.375rem;
  }

  .price__img-holder {
    width: 12.4375rem;
  }

  .price__statistic {
    margin-bottom: 3.75rem;
  }

  .title-section {
    font-size: 1.5rem;
  }

  .title-section {
    margin-bottom: 4.375rem;
  }

  .statistic {
    margin-left: -0.625rem;
  }

  .statistic {
    margin-right: -0.625rem;
  }

  .statistic__item {
    padding-left: 0.625rem;
  }

  .statistic__item {
    padding-right: 0.625rem;
  }

  .statistic__item p {
    font-size: 0.875rem;
  }

  .statistic__item h5 {
    font-size: 0.875rem;
  }

  .marketing__container {
    margin-left: 0.0000000625rem;
  }

  .marketing__container {
    margin-right: 0.0000000625rem;
  }

  .marketing__subtitle {
    font-size: 1rem;
  }

  .marketing__subtitle {
    margin-bottom: 2.5rem;
  }

  .marketing__text {
    font-size: 0.875rem;
  }

  .marketing__text {
    margin-bottom: 4.375rem;
  }

  .marketing__box-text-title {
    font-size: 1rem;
  }

  .marketing__box-text-title {
    margin-bottom: 3.75rem;
  }

  .marketing__box-text-content {
    gap: 3.75rem;
  }

  .marketing__box-text-subtitle {
    font-size: 0.875rem;
  }

  .marketing__box-text-text {
    font-size: 0.875rem;
  }

  .advantages__container {
    margin-left: 0.0000000625rem;
  }

  .advantages__container {
    margin-right: 0.0000000625rem;
  }

  .advantages__subtitle {
    font-size: 1rem;
  }

  .advantages__block-text {
    margin-top: 3.75rem;
  }

  .advantages__block-text {
    gap: 2.5rem;
  }

  .advantages__text {
    font-size: 0.875rem;
  }

  .target__container {
    margin-left: 0.0000000625rem;
  }

  .target__container {
    margin-right: 0.0000000625rem;
  }

  .target__img-holder {
    min-width: 4.75rem;
  }

  .target__text {
    font-size: 0.875rem;
  }

  .task__container {
    margin-left: 0.0000000625rem;
  }

  .task__container {
    margin-right: 0.0000000625rem;
  }

  .task__subtitle {
    font-size: 1rem;
  }

  .task__subtitle {
    margin-bottom: 3.75rem;
  }

  .task__text {
    font-size: 0.875rem;
  }

  .task__text:not(last-child) {
    margin-bottom: 2.5rem;
  }

  .task__subtitle-dwo {
    font-size: 1rem;
  }

  .task__subtitle-dwo {
    margin-bottom: 3.75rem;
  }

  .questions__container {
    margin-left: 0.0000000625rem;
  }

  .questions__container {
    margin-right: 0.0000000625rem;
  }

  .questions__text {
    font-size: 1rem;
  }

  .questions__text {
    margin-bottom: 1.5625rem;
  }

  .questions__button {
    padding-right: 4.0625rem;
  }

  .questions__button::after {
    width: 1.5rem;
  }

  .questions__box-button {
    margin-bottom: 3.875rem;
  }
}

@media (max-width: 47.99875em) {
  .fv__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fv__block-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .fv__title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .fv__img-holder {
    min-width: 46.073298%;
    /* 176/382 */
  }

  .fv__button {
    margin-left: 0;
  }

  .button::after {
    right: 10px;
  }

  .price__block-text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .price__img-holder {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 40px;
  }

  .statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .marketing__text {
    width: 100%;
    margin-left: 0;
  }

  .marketing__box-text-title {
    text-transform: uppercase;
    text-decoration: underline;
  }

  .marketing__box-text-title span {
    font-weight: 700;
    color: #6087bf;
    text-decoration: underline;
  }

  .marketing__box-text-content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .marketing__box-text-subtitle {
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .marketing__box-text-text {
    width: 100%;
  }

  .advantages__img-holder {
    display: none;
  }

  .target__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }

  .target__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 56px;
  }

  .target__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .target__text {
    text-align: start;
  }

  .task__subtitle {
    text-transform: uppercase;
    text-align: center;
  }

  .task__box-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .questions__button::after {
    right: 30px;
  }

  .questions__box-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-right: 12px;
  }
}

@media (min-width: 20em) and (max-width: 121.25em) {
@supports (padding-top: clamp( 1.5rem , 0.9814814815rem  +  2.5925925926vw , 4.125rem )) {
    .header {
      padding-top: clamp( 1.5rem , 0.9814814815rem  +  2.5925925926vw , 4.125rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , 0.9814814815rem  +  2.5925925926vw , 4.125rem )) {
    .header {
      padding-top: calc(1.5rem + 2.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-bottom: clamp( 1.5rem , 0.9814814815rem  +  2.5925925926vw , 4.125rem )) {
    .header {
      padding-bottom: clamp( 1.5rem , 0.9814814815rem  +  2.5925925926vw , 4.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5rem , 0.9814814815rem  +  2.5925925926vw , 4.125rem )) {
    .header {
      padding-bottom: calc(1.5rem + 2.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .header__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .header__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .header__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .header__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.625rem , 0.3533950617rem  +  1.3580246914vw , 2rem )) {
    .header__container {
      font-size: clamp( 0.625rem , 0.3533950617rem  +  1.3580246914vw , 2rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.3533950617rem  +  1.3580246914vw , 2rem )) {
    .header__container {
      font-size: calc(0.625rem + 1.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 5.625rem , 4.2669753086rem  +  6.7901234568vw , 12.5rem )) {
    section {
      margin-bottom: clamp( 5.625rem , 4.2669753086rem  +  6.7901234568vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 5.625rem , 4.2669753086rem  +  6.7901234568vw , 12.5rem )) {
    section {
      margin-bottom: calc(5.625rem + 6.875 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .fv__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .fv__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .fv__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .fv__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 0.0000000625rem , -0.9259258511rem  +  4.6296295679vw , 4.6875rem )) {
    .fv__content {
      margin-bottom: clamp( 0.0000000625rem , -0.9259258511rem  +  4.6296295679vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -0.9259258511rem  +  4.6296295679vw , 4.6875rem )) {
    .fv__content {
      margin-bottom: calc(0.0000000625rem + 4.6874999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1.75rem , 1.3425925926rem  +  2.037037037vw , 3.8125rem )) {
    .fv__title {
      font-size: clamp( 1.75rem , 1.3425925926rem  +  2.037037037vw , 3.8125rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.3425925926rem  +  2.037037037vw , 3.8125rem )) {
    .fv__title {
      font-size: calc(1.75rem + 2.0625 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 0.0000000625rem , -1.3456789375rem  +  6.728395vw , 6.8125rem )) {
    .fv__title {
      margin-bottom: clamp( 0.0000000625rem , -1.3456789375rem  +  6.728395vw , 6.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -1.3456789375rem  +  6.728395vw , 6.8125rem )) {
    .fv__title {
      margin-bottom: calc(0.0000000625rem + 6.8124999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 3.8125rem , 2.9606481481rem  +  4.2592592593vw , 8.125rem )) {
    .fv__title span {
      font-size: clamp( 3.8125rem , 2.9606481481rem  +  4.2592592593vw , 8.125rem );
    }
}

@supports not (font-size: clamp( 3.8125rem , 2.9606481481rem  +  4.2592592593vw , 8.125rem )) {
    .fv__title span {
      font-size: calc(3.8125rem + 4.3125 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.75rem , 0.4290123457rem  +  1.6049382716vw , 2.375rem )) {
    .fv__subtitle {
      font-size: clamp( 0.75rem , 0.4290123457rem  +  1.6049382716vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.4290123457rem  +  1.6049382716vw , 2.375rem )) {
    .fv__subtitle {
      font-size: calc(0.75rem + 1.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 0.875rem , 0.3811728395rem  +  2.4691358025vw , 3.375rem )) {
    .fv__subtitle {
      margin-bottom: clamp( 0.875rem , 0.3811728395rem  +  2.4691358025vw , 3.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.875rem , 0.3811728395rem  +  2.4691358025vw , 3.375rem )) {
    .fv__subtitle {
      margin-bottom: calc(0.875rem + 2.5 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.75rem , 0.4290123457rem  +  1.6049382716vw , 2.375rem )) {
    .fv__text {
      font-size: clamp( 0.75rem , 0.4290123457rem  +  1.6049382716vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.4290123457rem  +  1.6049382716vw , 2.375rem )) {
    .fv__text {
      font-size: calc(0.75rem + 1.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (width: clamp( 11rem , 5.962962963rem  +  25.1851851852vw , 36.5rem )) {
    .fv__img-holder {
      width: clamp( 11rem , 5.962962963rem  +  25.1851851852vw , 36.5rem );
    }
}

@supports not (width: clamp( 11rem , 5.962962963rem  +  25.1851851852vw , 36.5rem )) {
    .fv__img-holder {
      width: calc(11rem + 25.5 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 1.25rem )) {
    .button {
      font-size: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 1.25rem )) {
    .button {
      font-size: calc(0.625rem + 0.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.2530864198rem  +  1.2345679012vw , 1.75rem )) {
    .button {
      padding-top: clamp( 0.5rem , 0.2530864198rem  +  1.2345679012vw , 1.75rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.2530864198rem  +  1.2345679012vw , 1.75rem )) {
    .button {
      padding-top: calc(0.5rem + 1.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.2530864198rem  +  1.2345679012vw , 1.75rem )) {
    .button {
      padding-bottom: clamp( 0.5rem , 0.2530864198rem  +  1.2345679012vw , 1.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.2530864198rem  +  1.2345679012vw , 1.75rem )) {
    .button {
      padding-bottom: calc(0.5rem + 1.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.6905864198rem  +  1.2345679012vw , 2.1875rem )) {
    .button {
      padding-left: clamp( 0.9375rem , 0.6905864198rem  +  1.2345679012vw , 2.1875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.6905864198rem  +  1.2345679012vw , 2.1875rem )) {
    .button {
      padding-left: calc(0.9375rem + 1.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-right: clamp( 2.6875rem , 1.8726851852rem  +  4.0740740741vw , 6.8125rem )) {
    .button {
      padding-right: clamp( 2.6875rem , 1.8726851852rem  +  4.0740740741vw , 6.8125rem );
    }
}

@supports not (padding-right: clamp( 2.6875rem , 1.8726851852rem  +  4.0740740741vw , 6.8125rem )) {
    .button {
      padding-right: calc(2.6875rem + 4.125 * (100vw - 20rem) / 101.25);
    }
}

@supports (width: clamp( 1.125rem , 0.112654321rem  +  5.0617283951vw , 6.25rem )) {
    .button::after {
      width: clamp( 1.125rem , 0.112654321rem  +  5.0617283951vw , 6.25rem );
    }
}

@supports not (width: clamp( 1.125rem , 0.112654321rem  +  5.0617283951vw , 6.25rem )) {
    .button::after {
      width: calc(1.125rem + 5.125 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .price__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .price__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .price__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .price__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem )) {
    .price__block-text-img {
      margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem )) {
    .price__block-text-img {
      margin-bottom: calc(4.375rem + 1.875 * (100vw - 20rem) / 101.25);
    }
}

@supports (gap: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem )) {
    .price__block-text {
      gap: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem );
    }
}

@supports not (gap: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem )) {
    .price__block-text {
      gap: calc(2.5rem + 0.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .price__block-text p {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .price__block-text p {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 4.375rem , 3.8811728395rem  +  2.4691358025vw , 6.875rem )) {
    .price__block-text_bottom {
      margin-bottom: clamp( 4.375rem , 3.8811728395rem  +  2.4691358025vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 4.375rem , 3.8811728395rem  +  2.4691358025vw , 6.875rem )) {
    .price__block-text_bottom {
      margin-bottom: calc(4.375rem + 2.5 * (100vw - 20rem) / 101.25);
    }
}

@supports (width: clamp( 12.4375rem , 10.8202160494rem  +  8.0864197531vw , 20.625rem )) {
    .price__img-holder {
      width: clamp( 12.4375rem , 10.8202160494rem  +  8.0864197531vw , 20.625rem );
    }
}

@supports not (width: clamp( 12.4375rem , 10.8202160494rem  +  8.0864197531vw , 20.625rem )) {
    .price__img-holder {
      width: calc(12.4375rem + 8.1875 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .price__statistic {
      margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .price__statistic {
      margin-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.75rem )) {
    .title-section {
      font-size: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.75rem )) {
    .title-section {
      font-size: calc(1.5rem + 2.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem )) {
    .title-section {
      margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem )) {
    .title-section {
      margin-bottom: calc(4.375rem + 1.875 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( -4rem , 0.0416666667rem  +  -3.3333333333vw , -0.625rem )) {
    .statistic {
      margin-left: clamp( -4rem , 0.0416666667rem  +  -3.3333333333vw , -0.625rem );
    }
}

@supports not (margin-left: clamp( -4rem , 0.0416666667rem  +  -3.3333333333vw , -0.625rem )) {
    .statistic {
      margin-left: calc(-0.625rem + -3.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( -4rem , 0.0416666667rem  +  -3.3333333333vw , -0.625rem )) {
    .statistic {
      margin-right: clamp( -4rem , 0.0416666667rem  +  -3.3333333333vw , -0.625rem );
    }
}

@supports not (margin-right: clamp( -4rem , 0.0416666667rem  +  -3.3333333333vw , -0.625rem )) {
    .statistic {
      margin-right: calc(-0.625rem + -3.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.0416666667rem  +  3.3333333333vw , 4rem )) {
    .statistic__item {
      padding-left: clamp( 0.625rem , -0.0416666667rem  +  3.3333333333vw , 4rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.0416666667rem  +  3.3333333333vw , 4rem )) {
    .statistic__item {
      padding-left: calc(0.625rem + 3.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.0416666667rem  +  3.3333333333vw , 4rem )) {
    .statistic__item {
      padding-right: clamp( 0.625rem , -0.0416666667rem  +  3.3333333333vw , 4rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.0416666667rem  +  3.3333333333vw , 4rem )) {
    .statistic__item {
      padding-right: calc(0.625rem + 3.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .statistic__item p {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .statistic__item p {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .statistic__item h5 {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .statistic__item h5 {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .marketing__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .marketing__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .marketing__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .marketing__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .marketing__subtitle {
      font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .marketing__subtitle {
      font-size: calc(1rem + 1.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.0061728395rem  +  2.4691358025vw , 5rem )) {
    .marketing__subtitle {
      margin-bottom: clamp( 2.5rem , 2.0061728395rem  +  2.4691358025vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0061728395rem  +  2.4691358025vw , 5rem )) {
    .marketing__subtitle {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .marketing__text {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .marketing__text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem )) {
    .marketing__text {
      margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 4.375rem , 4.0046296296rem  +  1.8518518519vw , 6.25rem )) {
    .marketing__text {
      margin-bottom: calc(4.375rem + 1.875 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .marketing__box-text-title {
      font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .marketing__box-text-title {
      font-size: calc(1rem + 1.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .marketing__box-text-title {
      margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .marketing__box-text-title {
      margin-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (gap: clamp( 3.125rem , 3.8734567901rem  +  -0.6172839506vw , 3.75rem )) {
    .marketing__box-text-content {
      gap: clamp( 3.125rem , 3.8734567901rem  +  -0.6172839506vw , 3.75rem );
    }
}

@supports not (gap: clamp( 3.125rem , 3.8734567901rem  +  -0.6172839506vw , 3.75rem )) {
    .marketing__box-text-content {
      gap: calc(3.75rem + -0.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .marketing__box-text-subtitle {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .marketing__box-text-subtitle {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .marketing__box-text-text {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .marketing__box-text-text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .advantages__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .advantages__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .advantages__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .advantages__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .advantages__subtitle {
      font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .advantages__subtitle {
      font-size: calc(1rem + 1.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-top: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .advantages__block-text {
      margin-top: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem );
    }
}

@supports not (margin-top: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .advantages__block-text {
      margin-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (gap: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem )) {
    .advantages__block-text {
      gap: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem );
    }
}

@supports not (gap: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem )) {
    .advantages__block-text {
      gap: calc(2.5rem + 0.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .advantages__text {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .advantages__text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .target__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .target__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .target__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .target__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (min-width: clamp( 4.75rem , 4.4537037037rem  +  1.4814814815vw , 6.25rem )) {
    .target__img-holder {
      min-width: clamp( 4.75rem , 4.4537037037rem  +  1.4814814815vw , 6.25rem );
    }
}

@supports not (min-width: clamp( 4.75rem , 4.4537037037rem  +  1.4814814815vw , 6.25rem )) {
    .target__img-holder {
      min-width: calc(4.75rem + 1.5 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .target__text {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .target__text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .task__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .task__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .task__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .task__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .task__subtitle {
      font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .task__subtitle {
      font-size: calc(1rem + 1.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .task__subtitle {
      margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.5030864198rem  +  1.2345679012vw , 5rem )) {
    .task__subtitle {
      margin-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .task__text {
      font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8009259259rem  +  0.3703703704vw , 1.25rem )) {
    .task__text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem )) {
    .task__text:not(last-child) {
      margin-bottom: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.3765432099rem  +  0.6172839506vw , 3.125rem )) {
    .task__text:not(last-child) {
      margin-bottom: calc(2.5rem + 0.625 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .task__subtitle-dwo {
      font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .task__subtitle-dwo {
      font-size: calc(1rem + 1.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 3.1327160494rem  +  3.0864197531vw , 6.875rem )) {
    .task__subtitle-dwo {
      margin-bottom: clamp( 3.75rem , 3.1327160494rem  +  3.0864197531vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.1327160494rem  +  3.0864197531vw , 6.875rem )) {
    .task__subtitle-dwo {
      margin-bottom: calc(3.75rem + 3.125 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .questions__container {
      margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .questions__container {
      margin-left: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .questions__container {
      margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.9629628881rem  +  14.8148147531vw , 15rem )) {
    .questions__container {
      margin-right: calc(0.0000000625rem + 14.9999999375 * (100vw - 20rem) / 101.25);
    }
}

@supports (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .questions__text {
      font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7283950617rem  +  1.3580246914vw , 2.375rem )) {
    .questions__text {
      font-size: calc(1rem + 1.375 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.6365740741rem  +  4.6296296296vw , 6.25rem )) {
    .questions__text {
      margin-bottom: clamp( 1.5625rem , 0.6365740741rem  +  4.6296296296vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.6365740741rem  +  4.6296296296vw , 6.25rem )) {
    .questions__text {
      margin-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 101.25);
    }
}

@supports (padding-right: clamp( 4.0625rem , 3.074845679rem  +  4.9382716049vw , 9.0625rem )) {
    .questions__button {
      padding-right: clamp( 4.0625rem , 3.074845679rem  +  4.9382716049vw , 9.0625rem );
    }
}

@supports not (padding-right: clamp( 4.0625rem , 3.074845679rem  +  4.9382716049vw , 9.0625rem )) {
    .questions__button {
      padding-right: calc(4.0625rem + 5 * (100vw - 20rem) / 101.25);
    }
}

@supports (width: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.75rem )) {
    .questions__button::after {
      width: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.75rem );
    }
}

@supports not (width: clamp( 1.5rem , 1.0555555556rem  +  2.2222222222vw , 3.75rem )) {
    .questions__button::after {
      width: calc(1.5rem + 2.25 * (100vw - 20rem) / 101.25);
    }
}

@supports (margin-bottom: clamp( 3.875rem , 2.6898148148rem  +  5.9259259259vw , 9.875rem )) {
    .questions__box-button {
      margin-bottom: clamp( 3.875rem , 2.6898148148rem  +  5.9259259259vw , 9.875rem );
    }
}

@supports not (margin-bottom: clamp( 3.875rem , 2.6898148148rem  +  5.9259259259vw , 9.875rem )) {
    .questions__box-button {
      margin-bottom: calc(3.875rem + 6 * (100vw - 20rem) / 101.25);
    }
}
}